header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.logo {
  width: 200px;
}

.count-area {
  position: absolute;
  top: 0;
}

/*--------- DOOR --------------*/
.remote {
  width: 50px;
}

.remote-words {
  font-size: 10px;
  width: 90px;
}

.container {
  position: relative;
  overflow: scroll;
  width: 65%;
}

.door {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	transition: all ease .9s;
	-moz-transition: all ease .9s;
	-webkit-transition: all ease .9s;
	-o-transition: all ease .9s;
	-ms-transition: all ease .9;
	left: 0%;
	background: url(./images/garage.svg) no-repeat;
  background-size: cover;
}

.shut {
	top: -100%;
}

/* ------ FORM -------------- */

.add-item-header {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-field {
  margin-bottom: 10px;
}

.submit {
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: #fdac00;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #00d0bc;
  margin-bottom: 10px;
}

.submit:hover {
  background-color: #1e2424;
  color: white;
  box-shadow: none;
}

/*----- TYPES of CLEAN ---------*/
.sparkling {
  color: blue;
}

.dusty {
  color: yellow;
}

.rancid {
  color: brown;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
}

li {
  width: 50%;
}

.item-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 10%;
}
