header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
}

/*--------- DOOR --------------*/
.remote {
  width: 50px;
}

.container {
  position: relative;
  overflow: scroll;
  width: 100%;
}

.door {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	transition: all ease .9s;
	-moz-transition: all ease .9s;
	-webkit-transition: all ease .9s;
	-o-transition: all ease .9s;
	-ms-transition: all ease .9;
	left: 0%;
	background: url(./images/garage.svg) no-repeat;
  background-size: cover;
}

.shut {
	top: -100%;
}

/* ------ FORM -------------- */

h3 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

.submit {
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: #fdac00;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #00d0bc;

}

.submit:hover {
  background-color: #1e2424;
  color: white;
  box-shadow: none;
}

/*----- TYPES of CLEAN ---------*/
.sparkling {
  color: blue;
}

.dusty {
  color: yellow;
}

.rancid {
  color: brown;
}
