header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
}

.logo {
  width: 200px;
}

.count-area {
  position: absolute;
  top: 0;
}
